body{
  padding:0;
  margin :0;
  background:#DCDCDC;
  overflow-x : auto;
  overflow-y: auto;
  font-family: Helvetica, Arial sans-serif;
}

h2{
  font-size:20px;
  font-family: Courier New;
  font-weight: bold;
}

#pseudo {
 color: black;
 float-left;
 margin-left: 50px;
 font-size: 62px;
 }
#underline{
	text-decoration: underline;
}
 #cadre {
 color: black;
 margin-left: 150px;
 margin-right: 250px;
 border: 3px solid black;
 overflow-x : auto;
  overflow-y: auto;
 background-color: #FFF;
 }
#infoprenom {
 color: black;
 margin-left: 30px;
 font-size: 36px;
 margin-right: 25px;
 font-style: oblique;
 font-weight: normal;
 }

#bio {
 color: black;
 margin-left: 30px;
 font-size: 32px;
 margin-right: 25px;
 font-style: oblique;
 }

 #inside-bio {
 color: black;
 margin-left: 100px;
font-size:28px;
margin-right: 100px;
font-family: Courier, monospace;
margin-top: 12px; 
margin-bottom: 25px;

 }

 #sign{
 color: black;
 margin-left: 70px;
 font-size:25px;
 font-family: Courier New;

}
 #inside{
    margin-left:75px;
    width:40%;
    padding: 32px;
    border: 2px solid black;
    background: #293123;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: Arial; 
    margin-bottom: 75px;
  }
/* Set a style for all buttons */

footer{
  background-color: #293133;
  height: 10.2%;
  font-family: tahoma;
  border: 0px solid; 
}
a{
  text-decoration: none;
  color: black;
}